.zero-avatar-container {
  text-align: center;
}

.zero-avatar-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.zero-card {
  width: calc(25% - 20px); /* Each card occupies 25% of the container minus padding */
  padding: 10px; /* Add padding to the cards */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0; /* No margin between cards */
}

.zero-card img {
  width: 100%; /* Ensure images take up the full width of the card */
  height: 100%; /* Ensure images take up the full height of the card */
  object-fit: cover; /* Ensure the image covers the entire container */
  object-position: center; /* Center the image within the container */
  border: 5px solid #FFD700; /* Add yellow border */
  border-radius: 15px; /* Add rounded corners */
}

.zero-card.selected img {
  border-color: red; /* Change border color to red for selected image */
}

@media (max-width: 768px) {
  .zero-card {
    width: calc(45% - 20px); /* Adjusted width for smaller screens to fit 2 cards in a row */
  }
}